<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Watchers</title>

    <!-- roboto font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="wrapper" id="app">
      <nav>
        <input
          type="text"
          v-model="username"
          placeholder="Search Your User..."
        />

        <select v-model="sortBy">
          <option value="" selected>Sorty By</option>
          <option value="name">name</option>
          <option value="username">username</option>
          <option value="email">email</option>
          <option value="city">city</option>
          <option value="zipcode">zipcode</option>
        </select>
      </nav>
      <table v-if="users.length > 0">
        <thead>
          <tr>
            <th>Name</th>
            <th>User Name</th>
            <th>E-mail</th>
            <th>City</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in filteredUsers">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.address.zipcode}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          username: "",
          sortBy: "",
          users: [],
        },

        computed: {
          filteredUsers: function () {
            let users = this.users
              .filter((user) => user.name.includes(this.username))
              .sort((a, b) => {
                if (a[this.sortBy] < b[this.sortBy]) return -1;
                if (a[this.sortBy] > b[this.sortBy]) return 1;
                return 0;
              });
            return users;
          },
        },
      });
    </script>
  </body>
</html>
