<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Watchers</title>

    <!-- roboto font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- style.css -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="wrapper" id="app">
      <input v-model="celsius" value="celsius" placeholder="Enter Celsius" />
      <input
        v-model="fahrenheit"
        value="fahrenheit"
        placeholder="Enter Fahrenheit"
      />
    </div>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      new Vue({
        el: "#app",
        data: {
          celsius: 0,
          fahrenheit: 0,
        },
        watch: {
          celsius: function () {
            this.fahrenheit = Math.round((this.celsius * 9) / 5 + 32);
          },
          fahrenheit: function () {
            this.celsius = Math.round(((this.fahrenheit - 32) * 5) / 9);
          },
        },
      });
    </script>
  </body>
</html>
